body {
    background-color: bisque;
}

h1 {
    text-align: center;
}

.container{
    background-color: gold;
    width: 95%;
    align-content: center;
    height: auto;
    min-height: 100px;
    border: darkmagenta;
    border-width: 5px;
}

#madeburgers{
    background-color: cornflowerblue;
    /* float: left; */
    width: 90%;
    text-align: right;

}

#eatenburgers{
    background-color: deeppink;
    /* float: left; */
    width: 90%;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
    }

.create-form{
    background-color: hotpink;
    text-align: center;
}

.form-group{
    margin: auto;
    width: 80%;
    /* align-content: center; */
    }

    textarea{
        width: 100%;
    }